/* Setting up defaults */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #53a0fc;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* General reuseable styles */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.border-top {
    border-top: 1px solid lightgray;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 0.5rem 0;
}

.no-border {
    border: none;
}

.border-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.border-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
/* indivisual part's styling */
.panel {
    height: 450px;
    width: fit-content;
    border-radius: 1rem;
    justify-content: space-evenly;
}

.pricing-plan {
    background-color: white;
    justify-content: space-around;
    height: 90%;
    padding: 1rem 3rem;
    max-width: 300px;
    border-right: 1px solid lightgray;
}

.pricing-img {
    height: auto;
    width: 100%;
    max-width: 200px;
}

.pricing-header {
    font-size: 1rem;
    text-transform: uppercase;
    color: #b6b6b6;
    text-align: center;
    margin-block-end: 1.5rem;
}

.font-blue {
    text-transform: uppercase;
    text-align: center;
    color: #2e81fc;
    font-weight: bold;
    line-height: 1.5;
}

.pricing-features-item {
    font-size: 0.75rem;
}

.pricing-price {
    font-size: 1.5rem;
}

.pricing-button {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;

    border: 1px solid #2e81fc;
    border-radius: 0.4rem;
    outline: none;

    padding: 0.5rem 1.25rem;
    color: #2e81fc;
}

.is-featured {
    background-color: #2e81fc;
    color: white;
}

.pricing-button {
    transition: 0.3s linear;
}

.pricing-button:hover {
    background-color: #2e81fc;
    color: white;
    transition: 0.3s linear;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    body {
        height: auto;
    }

    .panel {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .pricing-plan {
        height: 450px;
        border: none;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}